NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_USE_FIREBASE_EMULATORS=false
NEXT_PUBLIC_APP_URL=https://vetconver.com.ar
NEXT_PUBLIC_MONTHLY_PRICE=25000
VETCONVER_MONTHLY_PRICE=25000
FIREBASE_SERVICE_ACCOUNT_BASE64=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PLAN_ID=
MERCADOPAGO_SUBSCRIPTION_URL=https://mpago.la/2s8oDCv
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
MERCADOPAGO_WEBHOOK_SECRET=
